/* Estructura principal */
.tarea-formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Estilos comunes */
.tarea-formulario__boton-guardadas,
.tarea-formulario__boton-agregar {
  width: 10vw;
  max-width: 50px;
  min-width: 50px;
  height: 50px;
  font-size: 35px;
  cursor: pointer; 
  background-color: #ffffff;
}

.tarea-formulario__boton-guardadas,
.boton-agregar {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Boton para "Mostrar tareas guardadas" */
.tarea-formulario__boton-guardadas {
  border-radius: 50%;
  margin-left: 10px;
}
.boton-guardadas__icono {
  color: #00c0fa;
}

/* Campo de Texto */
.tarea-formulario__input {
  width: 100%;
  margin: 0 10px 0 10px;
  font-size: 18px;
  background-color: #ffffff;
  padding: 14px 32px 14px 16px;
  border-radius: 2px;
  border: none;
  outline: none;
}

/* Boton para "Agregar Tarea" */
.tarea-formulario__boton-agregar {
  border: none;
  margin-right: 10px;
  border-radius: 2px;
}
.boton-agregar__icono {
  color: rgba(89, 0, 255, 0.514);
}

