/* Estructura principal */

.tarea-formulario {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Campo de Texto */

.tarea-input {
    width: 400px;
    font-size: 18px;
    background-color: #ffffff;
    padding: 14px 32px 14px 16px;
    border: 2px solid #d85b35;
    border-right: none;
    border-left: none;
    outline: none;
}
.tarea-input:active {
    background-color: #ffffff;
}

/* Boton agregar tarea */

.tarea-boton {
    border: 2px solid #d85b35;
    border-left: none;
    border-radius: 0px 4px 4px 0px;
    height: 53px;
    background: #15b8c4;
    outline: none;
}
.tarea-boton:hover {
    background-color: #0f8088;
}

.tarea-icono {
    color: #d85b35;
    height: 40px;
}

/* Icono */

.form-contenedor-iconos {
    border-radius: 4px 0 0 4px;
    border: 2px solid #d85b35;
    border-right: none;
    padding: 2.5px;
    background-color: #15b8c4;
    text-align: center;
}
.form-contenedor-iconos:hover {
    background: #0f8088;
}

.form-icono {
    font-size: 30px;
    margin: 5px;
    color: #000000;
    border-radius: 4px;
    cursor: pointer;
}



/* Estilos para resolución con un ancho de "580px" */

@media screen and (max-width:580px)  {
    .tarea-formulario {
        width: 100%;
    }
    .tarea-input {
        width: 70vw;
    }
    .tarea-boton {
        width: 14vw;
    }
    .form-contenedor-iconos {
        width: 14vw;
    }
}

